  <div class="navbar-nav ml-md-auto btn-group d-flex align-items-center align-middle" *ngIf="auth.currentUser$ | async as user; else signin">
    <a class="nav-link" (click)="userData" routerLink="../users/{{this.user.uid}}">
      <div class="inset">
        <img src={{this.user.photoURL}} alt="avatar" class="rounded-circle img-responsive avatar">
      </div><!-- {{ this.user.displayName }} -->
    </a>
    <a class="nav-link active" title="Logout" style="cursor:pointer;" (click)="auth.signOut()">
      <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
    </a>
  </div>

  <ng-template #signin>
    <div class="navbar-nav ml-md-auto btn-group align-middle">
      <a class="nav-link active" title="Sign up" [routerLink]="['auth/signup']" routerLinkActive="active"><i class="fas fa-edit"></i>
        Sign up
      </a>
      <a class="nav-link active" title="Sign in" [routerLink]="['auth/signin']" routerLinkActive="active"><i
          class="fas fa-sign-in-alt"></i>
        Sign in </a>
    </div>
  </ng-template>
