<div class="container">
  <p class="h4 text-center">Create Review Request</p>
  <div class="row container-bg px-2 py-3">
    <div class="form col-12">
      <form [formGroup]="this.revUnitForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="row pb-5">
            <div class="col-md-12 col-xs-12">
              <input placeholder="Request Title" formControlName="title" type="text"
                class="form-control bg-transparent rounded-0 border border-primary border-top-0 border-left-0 border-right-0 pb-2">
              <textarea rows="8" placeholder="Request Content" formControlName="content"
                class="form-control bg-transparent rounded-0 border border-primary mt-4"></textarea>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-12 col-xs-12">
              <div clas="pb-2">
                <p class="h5 pb-2">Tags</p>
                <angular2-multiselect title="Select tags" formControlName="tags" [data]="dropdownList"
                  [settings]="dropdownSettings">
                </angular2-multiselect>
              </div>
              <div class="pb-2 pt-3">
                <p class="h5">Select a team</p>
                <select class="custom-select" title="Select a team of possible reviewers" [(ngModel)]="selectedTeam"
                  [ngModelOptions]="{standalone: true}" (change)="setTeamValue($event.target.value)">
                  <option [value]="team.uid" *ngFor="let team of teams | async">
                    {{ team.teamName }}
                  </option>
                </select>
              </div>
              <div *ngIf='teamValue' class="ag-theme-bootstrap center-block">
                <div>Selection: <span id="selectedRows"></span></div>
                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-bootstrap"
                  [rowData]="rowData | async" [columnDefs]="columnDefs" [rowHeight]="100" [groupUseEntireRow]="true"
                  [groupRowRenderer]="true" [pagination]="true" [paginationAutoPageSize]="true"
                  [rowSelection]="rowSelection" [rowMultiSelectWithClick]="true"
                  (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
                </ag-grid-angular>
              </div>
            </div>
          </div>
          <button type="submit" title="Create team" class="btn btn-primary btn-block"
            [disabled]="this.selectedMembers.length == 0 || this.revUnitForm.invalid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
