<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12 mx-auto container-bg p-5 p-md-3 p-xs-2 rounded">
      <div class="col-lg-10 col-md-12 mx-auto py-5">
        <h2 class="text-center pb-5">Sign in</h2>
        <div class="form">
          <form [formGroup]="this.signInForm" (ngSubmit)="this.signIn()">
            <div class="form-group">
              <input type="email" class="form-control bg-transparent rounded-0 border border-primary border-top-0 border-left-0 border-right-0 px-1 py-2" id="email-input" placeholder="Email" formControlName="email"
                autocomplete="on">
            </div>
            <div class="form-group">
              <input type="password" class="form-control bg-transparent rounded-0 border border-primary border-top-0 border-left-0 border-right-0 px-1 py-2" id="password-input" placeholder="Password"
                formControlName="password" autocomplete="on">
            </div>
  
            <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="this.signInForm.invalid">Sign in!</button>
            <div class="text-center row no-gutters py-2">
              <a class="nav-link col-lg-6 col-md-12 col-sm-12 col-xs-12" [routerLink]="['auth/reset-password']" routerLinkActive="active"><i class="fas fa-unlock-alt"></i> Forgot password?
              </a>
              <a class="nav-link col-lg-6 col-md-12 col-sm-12 col-xs-12" [routerLink]="['auth/signup']" routerLinkActive="active"><i class="fas fa-edit"></i> No account? Sign up.
              </a>
              <span class="text-center mx-auto">OR</span>
            </div>
            
            <!-- <button class="btn btn-warning" (click)="passwordReset()">Reset password</button>
            <div class="formGroup">
              <span class="or"><span class="orInner">OR</span></span>
            </div> -->
      
            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
              <button type="button" class="btn btn-outline-danger btn-block" (click)="auth.googleSignIn()">
                <i class="fab fa-google-plus-g"></i>
                Login with Google
              </button>
            </div>
          </form>
<!-- 
          <div *ngIf="!signInWithGoogle">
            <ng-template #signInWithGoogle>
              
            </ng-template>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
