<div class="container">
  <div class="row container-bg py-5 mx-auto">
    <div class="col-12">
      <h2 class="text-center pb-5">Dashboard</h2>
      <div class="row mx-auto text-center pb-5 d-flex align-items-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-2 col-xs-12 col-sm-12">
                <button class="btn btn-outline-primary btn-xs-block my-3" title="My requests" (click)="this.getUserRequests()">My requests</button>
              </div>
              <div *ngIf="userHasATeam" class="col-md-7 col-sm-12 input-group col-xs-12 d-flex align-items-center">
                <div class="input-group-prepend">
                  <label class="input-group-text" title="Select a team" for="">Teams:</label>
                </div>
                <select class="custom-select" title="Select a team" [(ngModel)]="selectedTeam" (change)="setTeamValue($event.target.value)">
                  <option [value]="team.uid" *ngFor="let team of teams">
                    {{ team.teamName }}
                  </option>
                </select>
              </div>
  
              <div class="col-md-2 col-sm-12 col-xs-12" *ngIf="this.userHasATeam">
                <a class="btn btn-outline-primary col-xs-12 btn-xs-block my-3" title="Add review request" routerLink="../../review-units/new" routerLinkActive="active">Add review
                  request</a>
              </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="row no-gutters">
            <div class="col-md-6 col-xs-12 px-md-1 my-3 my-sm-0">
              <a class="btn btn-outline-secondary btn-block" title="Create team" routerLink="../../teams/new-team" routerLinkActive="active">Create team</a>
            </div>
            <div class="col-md-6 col-xs-12 px-md-1 my-3 my-sm-0" *ngIf="userHasATeam">
              <a class="btn btn-outline-secondary btn-block" title="Add new members" routerLink="../../teams/update-team">Add team member</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div *ngIf="!userHasATeam">
          <div class="alert alert-warning">
            <p class="h6">You should be a part of a team in order to add review requests. <a class="link"
                routerLink="../../teams/new-team" routerLinkActive="active">Create a team now.</a></p>
          </div>
        </div>
      <div class="ag-theme-bootstrap center-block">
        <ag-grid-angular style="width: 100%; height: 750px;" class="ag-theme-bootstrap" [rowData]="rowData | async"
          [columnDefs]="columnDefs" [rowHeight]="120" [groupUseEntireRow]="true" [groupRowRenderer]="true"
          [pagination]="true" [paginationAutoPageSize]="true" [rowMultiSelectWithClick]="true"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      <!-- <div *ngIf="!showAgGrid">
        <div class="alert alert-warning">
          <p class="h6">There are no active review requests in your profile. </p>
        </div>
      </div> -->
    </div>
  </div>
</div>
