<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-8 col-xs-12 mx-auto container-bg p-5 p-md-3 p-xs-2 rounded">
        <div>
          <h4>Forgot your password?</h4>
        </div>
        <form [formGroup]="this.resetPasswordForm" (ngSubmit)="this.resetPassword()">
          <div class="form">
            <div class="form-group">
              <input type="email" class="form-control bg-transparent rounded-0 border border-primary border-top-0 border-left-0 border-right-0 px-1 py-2" #emailinput placeholder="Email" formControlName="email"
                autocomplete="on">
            </div>
            <button type="submit" class="btn btn-secondary btn-block" [disabled]="this.resetPasswordForm.invalid">Reset password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
