<div id="page-header">
  <div class="container-fluid">
    <nav
      class="navbar navbar-light navbar-expand-lg flex-md-row border border-secondary border-top-0 border-left-0 border-right-0 mb-5">

      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav col">
          <li class="nav-item">
            <a class="navbar-brand" title="Homepage" [routerLink]="['/home']" routerLinkActive="active">
              <img src="../../../assets/icons/favicon-16x16.png" class="img-fluid px-1 d-inline-block" />
              Mirror
            </a>
          </li>
          <li class="nav-item active" *ngIf="this.auth.isLoggedIn">
            <a class="nav-link" title="Dashboard" [routerLink]="['/users/dashboard']" routerLinkActive="active">
              <i class="fas fa-file-alt"></i>&nbsp;&nbsp;Dashboard</a>
          </li>
          <div *ngIf="auth.currentUser$ | async as user">
            <div *ngIf="user.role==='admin'" class="d-flex align-items-center">
              <li class="nav-item active">
                <a class="nav-link" (click)="users.getAllUsers()" [routerLink]="['/users/all']"
                  routerLinkActive="active">
                  <i class="fas fa-users"></i>&nbsp;&nbsp;Users</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" (click)="reviewUnits.getAllReviewUnits()" [routerLink]="['/review-units/all']"
                  routerLinkActive="active">
                  <i class="fas fa-users"></i>&nbsp;&nbsp;Review requests</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" (click)="reviewUnits.getAllReviewUnits()" [routerLink]="['/teams/all']"
                  routerLinkActive="active">
                  <i class="fas fa-users"></i>&nbsp;&nbsp;Teams</a>
              </li>
            </div>
          </div>

        </ul>

        <app-logged-user></app-logged-user>

      </div>
    </nav>
  </div>
</div>
