$theme-colors: (
  "primary": #2292a4,
  "secondary": #ef006f,
  "success": #bdbf09,
  "info": #88ccf1,
  "warning": #edae49,
  "danger": #d62246,
  "dark": #28333f,
);

@import '../src/app/assets/styles/variables';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-bootstrap.css';
@import '~bootstrap/scss/bootstrap';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import './../node_modules/ngx-toastr/toastr.css';
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: url("app/assets/images/gplaypattern.png") repeat;
  color: $black;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Mono", monospace;
}

.btn {
  white-space: nowrap;
}

@media all and (max-width:480px) {
  .btn-xs-block { width: 100%; display:block; }
}   

.container-bg {
  background: rgba(255, 250, 255, 0.5);
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 82, 96, 0.5);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 82, 96, 0.5);
  box-shadow: 1px 1px 6px 0px rgba(68, 82, 96, 0.5);
}

.container-bg-inner {
  background: rgba(255, 250, 255, 0.5);
}

.custom-bg{
  background: url("app/assets/images/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
}

.border-gray {
  border-color: $medium-gray;
}

.form-control {
  color: $dark-gray;

  &::placeholder {
    color: $medium-gray;
  }
}

.avatar {
    width: 75px;
    height: 75px;

    &.avatar-medium{
        width: 150px;
        height: 150px;
    }
}

// .table-bg{
//   &::before{
//     background: url("app/assets/images/hero-bg.jpg") no-repeat;
//     background-size: cover;
//     opacity: 0.3;
//     background-position: center;
//   }
// }

.ag-theme-bootstrap{
  // background: url("app/assets/images/table-bg.png") no-repeat;
  // background-size: cover;
  background-color: transparent;

  .ag-body-viewport{
    background-color: transparent;
  }
  .ag-row-even, .ag-row-odd{
    background-color: transparent;
    border-bottom: 1px solid $primary-blue;
  }

  .ag-row{
    border-bottom: 1px solid $primary-blue;
    &:not(.ag-row-first){
      border-bottom: 1px solid $primary-blue;
    }
    
    .ag-cell{
      padding: 0.25rem 0;
      display: flex;
      align-items: center;
    }

    &.ag-row-selected{
      background-color: rgba($primary-blue, $alpha: 0.3);
      border-radius: 4px;
    }
  }

  .ag-paging-panel{
    display: block;

    .ag-paging-row-summary-panel, .ag-icon-first, .ag-icon-last{
      display: none;
    }

    .ag-paging-page-summary-panel{
      display: flex;
      justify-content: space-around !important;
      font-family: 'Roboto', sans-serif;
    }

    .ag-paging-button{
      border-radius: 4px;
      border: 1px solid $secondary-pink;
      color: $secondary-pink;
      background: $white;

      &.ag-disabled{
          opacity: 0.65;
      }

      &:hover {
          background: $secondary-pink;
          color: $white;
      }
    }
  }
}

.ag-theme-bootstrap .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected){
  border: none !important;
}

.toast-success { background: $primary-success }

.toast-error { background: $danger }

.toast-top-right {
    top: 8%;
  }

.content{
  min-height: calc(100vh - 70px);
}

footer{
  height: 50px;
}
