<div class="container">
  <div class="row">
    <div class="col-12 py-5 mx-auto container-bg">
      <h2 class="text-center">Create a new team</h2>
      <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-8">
            <input formControlName="teamName" type="text" placeholder="Enter Team name"
              class="form-control bg-transparent rounded-0 border border-primary border-top-0 border-left-0 border-right-0 px-1 py-2">
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" title="Create a team" type="submit" [disabled]="this.teamForm.invalid || this.selectedIds.length == 0">Create team</button>
          </div>
        </div>
        
        <div class="form-group">
          <div>
            <p class="small text-muted">Hint: Click all the users you'd like to invite to your team</p>
          </div>
          <div class="ag-theme-bootstrap center-block">
            <div>Selection: <span id="selectedRows"></span></div>
            <ag-grid-angular style="width: 100%; height: 750px;" class="ag-theme-bootstrap" [rowData]="rowData | async"
              [columnDefs]="columnDefs" [rowHeight]="100" [groupUseEntireRow]="true" [groupRowRenderer]="true"
              [pagination]="true" [paginationAutoPageSize]="true" [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true" (selectionChanged)="onSelectionChanged($event)"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
