<div *ngIf="reviewUnit" class="container container-bg py-5 rounded">
  <div class="row">
    <div class="col-md-12 pb-5 text-center">
      <h2>Review Request Feedback</h2>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-md-8 col-xs-12">
      <h4 class="pb-2 border border-secondary border-top-0 border-right-0 border-left-0 rounded-0">{{ reviewUnit.title }}</h4>
      <p class="container-bg-inner border border-gray p-4 rounded">{{ reviewUnit.content }}</p>
    </div>
    <div class="col-md-4 col-xs-12">
        <div>
          <h4 class="pb-2 border border-secondary border-top-0 border-right-0 border-left-0 rounded-0">Tags:</h4>
          <span class="mx-1 badge badge-info" *ngFor="let tag of tags">
            {{ tag }}
          </span>
        </div>
        <hr />
      <div *ngIf="this.isRevUnitFeedbackDisabled!=true">
        <p class="h5 pb-2">Set status:</p>
        <ng-select [items]="statusItems" [(ngModel)]="selectedStatusItem">
        </ng-select>
      </div>
      <div *ngIf="this.isRevUnitFeedbackDisabled===true">
        <p class="h5 pb-2">Status:</p>
        <p class="h5 pb-2">Rejected</p>
      </div>
    </div>
  </div>
  <div class="pt-2">
    <app-uploader *ngIf="this.isRevUnitFeedbackDisabled!=true" [reviewUnit]="reviewUnit"></app-uploader>
  </div>
  <hr class="bg-secondary my-5" />
  <div class="row">

    <div class="col">
        <span class=" h5 pb-2">List of uploads</span>
        <div *ngFor="let file of files | async" class="container-bg-inner border border-gray p-4 mb-2 rounded">
          <a href="{{file.downloadURL}}" target="_blank"><strong>{{file.path}}</strong></a>
        </div>
      <span class=" h5 pb-2">Comments</span>
      <div *ngFor="let comment of comments  | async" class="container-bg-inner border border-gray p-4 mb-2 rounded">
        <p>{{ comment.content }}</p>
        <small class="text-primary"><strong>{{ comment.author }}</strong></small>
      </div>
      <form *ngIf="this.isRevUnitFeedbackDisabled!=true" [formGroup]="this.commentForm" (ngSubmit)="onSubmit()">
        <h5 class="py-2">Leave a comment</h5>
        <textarea rows="7" placeholder="Request Content" formControlName="content"
          class="form-control bg-transparent rounded border border-primary"></textarea>
        <div class="py-2">
          <button class="btn btn-primary btn-block" [disabled]="this.commentForm.invalid">Submit feedback</button>
        </div>
      </form>
    </div>
  </div>
</div>
