<div class="container">
  <div class="row">
    <div class="col-md-12 container-bg rounded py-5 mx-auto">
      <h2 class="text-center pb-5">Users</h2>
      <div class="ag-theme-bootstrap center-block table-bg">
          <ag-grid-angular 
            style="width: 100%; height: 750px;" 
            class="ag-theme-bootstrap table table-hover"
            [rowData]="rowData | async"
            [columnDefs]="columnDefs"
            [rowHeight]="100"
            [groupUseEntireRow]="true"
            [groupRowRenderer]="true"
            [pagination]="true"
            [paginationAutoPageSize]="true"
            (gridReady)="onGridReady($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
