@import './../../../assets/styles/variables';

.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  font-weight: 200;
  height: 200px;
  border: 1px dashed $primary-blue;
  border-radius: 5px;

  &.hovering {
      border: 2px solid $primary-blue;
      color: #dadada !important;
  }

}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

img {
  width: 250px
}