<div class="dropzone rounded-0" app-dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
  [class.hovering]="isHovering">
  <p class="h5">Attachments Dropzone</p>
  <p>Drag and Drop a File</p>
  <div class="file">
    <!-- <label class="file-label"> -->
    <input type="file" (change)="onDrop($event.target.files)">
    <!-- <span class="file-cta"> -->
    <span class="file-icon">
      <i class="fa fa-upload"></i>
    </span>
    <span class="file-label">
      or choose a file…
    </span>
    <!-- </span> -->
    <!-- </label> -->
  </div>
</div>
<p class="h5" *ngIf="files.length>0">Uploads</p>
<div *ngFor="let file of files">
  <app-upload-task [reviewUnit]="reviewUnit" [file]="file"></app-upload-task>
</div>
