<footer class="pt-5 border border-bottom-0 border-left-0 border-right-0 border-secondary">
  <div class="container py-3">
    <div class="row d-xs-block d-flex align-items-center no-gutters text-center">
      <h5 class="d-inline">Tech stack:</h5>
      <div class="col-md-2 col-xs-12">
          <img src="../../../assets/icons/Firebase_Logo_Standard_Lockup.svg" class="img-fluid">
      </div>
      <div class="col-md-1 d-none d-md-block">
        <i class="fab fa-npm fa-2x"></i>
      </div>
      <div class="col-md-1 d-none d-md-block">
        <i class="fab fa-angular fa-2x"></i>
      </div>
      <div class="col-md-1 d-none d-md-block">
        <i class="fab fa-sass fa-2x"></i>
      </div>
      <div class="col-md-1 d-none d-md-block">
        <i class="fab fa-html5 fa-2x"></i>
      </div>

      <div class="col-lg-4 col-md-3 col-xs-12 d-xs-block d-flex justify-content-end">
        <div class="row no-gutters d-flex align-items-center">
          <div class="col-md-7 col-xs-12">
            <img src="../../../assets/icons/mirror-logo.svg" class="img-fluid float-right d-inline-block" />
          </div>
          <div class="col-md-4 col-xs-12">
            <span class="h6">Mirror</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>